* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 30px;
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "sidebar header"
    "sidebar article";
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
article {
  grid-area: article;
}
